.footer {
  height: 6.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer__nav {
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.link__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
}

.footer__link {
  text-decoration: none;
  color: #676767;
  font-family: 'Lato', sans-serif;
  font-size: 1.02rem;
  transition: 0.2s ease-in-out;
}

.footer__link:hover {
  color: black;
  transition: 0.1s ease-in-out;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}



/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .link__wrapper {
    width: 40%;
  }

}

@media (min-width: 481px) and (max-width: 767px) {

  .link__wrapper {
    width: 70%;
  }

}

@media (min-width: 320px) and (max-width: 480px) {

  .link__wrapper {
    width: 100%;
  }

}