.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50%);
}

.left__about {
  background-color: #F0F0F0;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right__about {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10%;
}

.about__name {
  margin-bottom: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.about__text {
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
}